@charset "utf-8";
*{
    padding:0%;
    margin: 0%;
}
body,html{
    background-color: darkgray;
}
header{
    text-align: center;
    background-color: black;
}
header > h1{
    padding-top: 50px;
    color: white;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
background-color: rgb(174, 174, 216);
padding-top: 10vh;

}
.imagem > p{
    background-color: rgb(44, 47, 48);
    width: 400px;
    color:black;
}
a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer > p{
    color: white;
}
footer  a, header a{
    color: white;
    text-decoration: none;
    font-size: bolder;
}
